@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f9fafb;
  color: #111827;
}

html.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #514b82;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}
  