@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f9fafb;
  color: #111827;
}

html.dark {
  background-color: #0f172a;
  color: #f1f5f9;
}

body {
  margin: 0;
  font-family: theme('fontFamily.sans');
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
